// Fonts
$fontPrimary: "Cambria", serif;

// Colors
$colorPrimary: #444;
$colorSecondary: #777;
$colorHighlight: #dec129;
$colorLightGray: #efefef;
$colorError: #dc3545;

// Breakpoints
$bpMobile: 767px;
$bpTablet: 1023px;
