@use "../../../sass/vars";
@use "../../../sass/functions";

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: solid 1px vars.$colorHighlight;
  height: functions.px2rem(200px);

  h3 {
    margin-bottom: functions.px2rem(20px);
  }

  span {
    font-weight: bold;
    color: vars.$colorHighlight;
  }
}
