<nav
  class="bg-teal-500 p-4 fixed w-full top-0 left-0 flex justify-between items-center shadow-md z-10"
>
  <a class="flex items-center" routerLink="/">
    <img class="size-12 mr-2" src="/assets/images/moments.png" alt="Moments" />
    <h2 class="text-3xl">Moments</h2>
  </a>
  <ul class="flex justify-end items-center">
    <li><a routerLink="/">Início</a></li>
    <li id="add"><a routerLink="/moments/new">Compartilhar</a></li>
    <li><a routerLink="/about">Sobre nós</a></li>
  </ul>
</nav>
