@use "../../../sass/vars";
@use "../../../sass/functions";

nav {
  display: flex;
  justify-content: space-between;
  padding: functions.px2rem(16px);
  border: solid 1px vars.$colorSecondary;
}

.brand,
.links {
  display: flex;
  justify-content: center;
  align-items: center;
}

.brand {
  img {
    width: functions.px2rem(40px);
    margin-right: functions.px2rem(10px);
  }

  h2 {
    transition: color ease 0.4s;

    &:hover {
      color: vars.$colorHighlight;
    }
  }
}

.links {
  li {
    margin-right: functions.px2rem(16px);
  }

  a {
    padding: functions.px2rem(2px) functions.px2rem(5px);
  }
}

#add {
  a {
    color: vars.$colorHighlight;
    transition: background-color ease 0.4s;

    &:hover {
      background-color: vars.$colorLightGray;
    }
  }
}
