@use "../../../../sass/functions";
@use "../../../../sass/vars";

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h1 {
    margin-bottom: functions.px2rem(32px);
  }
}

.moments-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 80%;
  margin: 0 auto;
}

.moment {
  width: 32%;
  margin-bottom: functions.px2rem(16px);
  text-align: center;

  img {
    width: 100%;
    margin-bottom: functions.px2rem(16px);
  }

  h3,
  p {
    margin-bottom: functions.px2rem(16px);
  }

  a {
    color: vars.$colorHighlight;
    padding: functions.px2rem(4px) functions.px2rem(8px);

    &:hover {
      background-color: vars.$colorLightGray;
    }
  }

  .date {
    font-size: functions.px2rem(12px);
    font-style: italic;
  }
}

.search-container {
  margin-bottom: functions.px2rem(32px);
  width: 100%;

  form {
    width: 30%;
    position: relative;
  }

  fa-icon {
    position: absolute;
    top: functions.px2rem(8px);
    left: functions.px2rem(8px);
  }

  input {
    padding: functions.px2rem(8px);
    width: 100%;
    text-align: center;
  }
}
